# compiled output
dist
node_modules

# environment variables
*.env
.env.*
!.env.example

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.gitmessage

# logs
logs
*.log
npm-debug.log*

package-lock.json

.DS_Store

/build

/.svelte-kit
/package
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
